// Enriched link
a.pf1-link {
  white-space: nowrap;
  word-break: break-all;

  display: inline-block; // Instead of default inline which eats the following space

  &.content,
  &.button {
    // border would cause overall size increase of the surrounding text block
    outline: 1px solid var(--color-border-light-tertiary);
    border-radius: 5px;
    padding: 0 4px;
    background: #ddd;
  }

  &.broken {
    background: #ecc;
    outline: unset;
    color: var(--color-level-error);
    cursor: initial;
  }
}

// Enriched data
a.pf1-info {
  white-space: nowrap;
  word-break: break-all;

  background-color: var(--pf1-bg-dark-0);
  padding: 0 3px;
  border-radius: 0.5em;
  //outline: 1px solid var(--color-border-light-tertiary);

  cursor: initial;

  > i {
    color: var(--color-text-dark-5);
  }
}
