<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="pf1">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}">
      </h1>

      {{! Content Source }}
      {{~> "systems/pf1/templates/internal/content-source-view.hbs"}}
    </div>
  </header>

  {{!-- Sidebar --}}
  <section class="sidebar">
    <header>
      <h3 class="item-type">{{itemType}}</h3>

      <h4 class="size">{{lookup config.actorSizes system.size}}</h4>

      {{#if (gt raceCreatureTypes.length 1)}}
      <ul class="property-list types">
        <h5>{{localize "PF1.TypePlural"}}</h5>

        {{#each raceCreatureTypes}}
        <li class="property type">{{this}}</li>
        {{/each}}
      </ul>
      {{else}}
      <h4 class="creature-type">{{raceCreatureTypes.[0]}}</h4>
      {{/if}}
    </header>

    <ul class="property-list subtypes">
      <h5>{{localize "PF1.RaceSubtypePlural"}}</h5>
      {{#if raceCreatureSubtypes.length}}
      {{#each raceCreatureSubtypes}}
      <li class="property subtype">{{this}}</li>
      {{/each}}
      {{else}}
      <li class="no-properties">{{localize "PF1.NonApplicable"}}</li>
      {{/if}}
    </ul>

    {{! Languages }}
    {{#if system.languages.base.length}}
    <ul class="property-list languages">
      <h5>{{localize "PF1.Languages"}}</h5>
      {{#each languages.selected as |v k|}}
        <li class="property language {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    {{/if}}

    {{! Speeds }}

    {{> "systems/pf1/templates/items/parts/item-sidebar-inputs.hbs"}}

    {{> "systems/pf1/templates/items/parts/item-sidebar-tags.hbs"}}
  </section>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="changes">{{localize "PF1.Changes"}}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor descriptionHTML.identified target="system.description.value" button=_editorState.system.description.value engine="prosemirror" editable=@root.editable}}
      <!--prose-mirror name="system.description.value" value="{{system.description.value}}" {{#if _editorState.system.description.value}}toggled{{/if}}>{{{descriptionHTML.identified}}}</prose-mirror-->
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      {{!-- Creature Type --}}
      {{~> "systems/pf1/templates/items/parts/item-creature-type.hbs"}}

      {{!-- Race Size --}}
      {{> "systems/pf1/templates/items/parts/item-size.hbs" allowAutoResizing=false}}

      <div class="form-group stacked">
        {{! Quadruped }}
        <label class="checkbox quadruped">
          <input type="checkbox" name="system.quadruped" {{checked system.quadruped}}>
          {{localize "PF1.Quadruped"}}
        </label>
      </div>

      {{!-- Movement --}}
      <div class="form-group movement">
        <label>{{localize "PF1.Movement.Label"}}</label>
        <div class="form-fields">
          <ul class="traits-list tag-list">
            {{#each speeds}}
            <li class='speed {{mode}} tag'>{{localize "PF1.Movement.Short" speed=value mode=(localize label) unit=@root.distanceUnit}}{{#if descriptor}} ({{localize descriptor}}){{/if}}</li>
            {{/each}}
          </ul>
          <a class="speed-editor"><i class="fas fa-edit" inert></i></a>
        </div>
      </div>

      {{!-- Proficiencies --}}
      {{~> "systems/pf1/templates/items/parts/item-proficiencies.hbs"}}

      {{!-- Class Skills --}}
      {{~> "systems/pf1/templates/items/parts/item-class-skills.hbs"}}

      {{!-- Advanced --}}
      <h3 class="form-header">{{localize "PF1.Advanced"}}</h3>

      {{! Tags }}
      {{~> "systems/pf1/templates/items/parts/item-tags.hbs"}}
    </div>

    <div class="tab changes" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>

    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
  </section>
</form>
