// Styling common to rolls
.chat-message.pf1 {
  .message-content {
    .dice-result {
      .roll-total {
        &.dice-total {
          // Undo Foundry stylings
          border: none;
          background: none;
          box-shadow: none;
          line-height: 1.25; // Fixes positioning (mostly)

          // Customize
          display: flex;
          flex-flow: row nowrap;

          justify-content: center;
          align-items: center;
          gap: 0.2rem;

          &.has-details {
            cursor: pointer;
          }
        }
      }
    }
  }
}
