<div class="form-group conditions">
  <label>{{localize "PF1.ConditionPlural"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
    {{#if @root.causedConditions.length}}
    {{#each @root.causedConditions}}
      <li class="tag {{@key}}">{{this}}</li>
    {{/each}}
    {{else}}
      <span class="placeholder">{{localize "PF1.None"}}</span>
    {{/if}}
    </ul>
    <a class="trait-selector" data-title="PF1.ConditionPlural" data-for="system.conditions" data-options="conditions" data-tooltip="PF1.Edit"><i class="fas fa-edit" inert></i></a>
  </div>
</div>
