<div class="card-notes {{css}}" data-name="{{name}}" data-tooltip="{{hint}}">
  {{! Header }}
  <div class="header">
    <label>{{localize title}}</label>
    <div class="header controls">
      <a class="add-entry" data-action="add" data-name="{{name}}"><i class="fas fa-plus fa-fw" inert></i> {{localize "PF1.AddNote"}}</a>
    </div>
  </div>

  <ul class="note-list">
  {{#each notes}}
    <li class="note" data-index="{{@index}}">
      <input type="text" value="{{this}}" name="{{../name}}.{{@index}}">
      <div class="controls entry" data-index="{{@index}}">
        <a class="delete-entry" data-action="delete" data-index="{{@index}}" data-name="{{../name}}" data-tooltip="PF1.Delete"><i class="fas fa-minus fa-fw" inert></i></a>
      </div>
    </li>
  {{/each}}
  </ul>
</div>
